.bubble-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Permite que as bolhas não bloqueiem a interação com outros elementos */
}

.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid #e0e0e0;
  border-radius: 50%;
  animation: moveUp 25s linear forwards, fadeOut 5s linear forwards; /* Aplica as animações */
}

/* Animação de movimento para cima */
@keyframes moveUp {
  from {
    top: top; /* Começa no fundo da tela */
  }
  to {
    top: -100%; /* Move para o topo da tela */
  }
}

/* Animação de diminuição da opacidade */
@keyframes fadeOut {
  from {
    opacity: 1; /* Começa totalmente visível */
  }
  to {
    opacity: 0; /* Desaparece totalmente */
  }
}