@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

.contato{
  background-color: #E3E3E3;
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-height: 30vmin;
  width: 100%;
  margin-top: 20vmin;
}

.listaMenu{
  position: relative;
  list-style-type: none;
  display: flex;

}

.texto{
  margin-top:3%;
  min-width:20%;
  margin-left: 140%;
  margin-right: -20%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}

.logo{
  margin-top:8%;
  margin-left: 60%;
  height: fit-content;
  display: flex;
}

.fundo{
  position: relative;
  height: 30vmin;
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .fundo {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    max-width: 100px;
  }
}




