@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

.contato{
  background-color: #E3E3E3;
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-height: 30vmin;
  width: 100%;
  margin-top: 50vmin;
}

.listaMenu{
  margin-left:2%;
  justify-content: start;
  list-style-type: none;
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
}

.texto{
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}

.texto-normal {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  margin-bottom: 5px;
  line-height: 1.5;
}

.logo{
  margin-top: 8%;
  margin-left: 50%;
  height: fit-content;
  display: flex;
}

.fundo{
  margin-right: 0;
  height: 30vmin;
  width: fit-content;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .fundo {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    max-width: 100px;
  }
}




