@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

.menu{
  background-color: #E3E3E3;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  position: relative;
  height:fit-content;
}

.listaMenu{
  text-align: center;
  list-style-type: none;
  margin: 25;
  padding: 0;
  display: flex;
}

.fundo{
  height: fit-content;

}
.link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}





