@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

.contato{
  background-color: #E3E3E3;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: flex-end;
}

.menu{
  height: max-content;
}

.listaMenu{
  align-self: flex-start;
  position: relative;
  list-style-type: none;
  display: flex;
}

.fundo{
  align-self: right;
  height: fit-content;
}
.link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}





