@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');


.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  margin-top: 14vmin;
  background-color: D9D9D9;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  display:block;
  margin-top: 10px;
  height: 60vmin;
  pointer-events: none;
  align-items: center;
  height: auto;
  width: fit-content;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .App-logo {
    margin-top: 5vmin;
    max-width: 400px;;
  }
  .App-header {
    margin-top: 30vmin;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.graybox {
  opacity: 0.88;
  margin-bottom: 30px;
  background-color: #eeeeee; /* Cor de fundo cinza */
  height: 90px; /* Altura da caixa */
  width: 100vw; /* Largura total da viewport */
  position: fixed; /* Posição fixa na parte superior da tela */
  top: 0; /* Alinha a caixa no topo da tela */
  left: 0; /* Alinha a caixa no canto esquerdo da tela */
  z-index: 999; /* Define a ordem de empilhamento */
  display: flex; /* Ativa o flexbox */
  align-items: center; /* Centraliza verticalmente */
  padding: 0 20px; /* Adiciona um pouco de padding para o conteúdo interno */
  box-sizing: border-box; /* Garante que o padding não aumente a largura da caixa */
}

@media only screen and (max-width: 768px) {
  .graybox {
    height: 14vh;
    justify-content: end;
    opacity: 0.7;
  }
  .content {
    display:none;
  }
}

.content {
  margin-left: 10px; /* Espaço à esquerda para a logo */
}

.logoh {
  height: 75px; /* Altura da logo */
  width: auto; /* Largura automática (mantém a proporção) */
}

.texto {
  margin-top: 120px;
  text-align: center;
  color: #3a3a3a; /* Cor do texto */
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
}

.texto-menor {
  margin-top: 120px;
  text-align: center;
  color: #3a3a3a; /* Cor do texto */
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  .texto{
    max-width: 200px;
    text-align: center;
  }
}

.texto p{
  font-size: 23px;
}

.textoPai{
  display: flex;
  justify-content: center;
}

.linha-cinza {
  border-top: 1px solid #ccc;
  margin-top: 30px auto 0;
  width: 100%;
}

.imagem-lateral {
  height: 800px;
  object-fit: cover;
}

.imagem-lateral img {
  height: 900px;
  width: auto;
  clip-path: polygon(0 0, 50% 0, 74% 80%, 0% 100%);
}

.PorquegeralPC{
  display:flex;
  width:100%;
}

.PorqueGeralMobile{
  margin-top: 100px;
  display:none;
  text-align: center;
  width:100%;
}

@media only screen and (max-width: 768px) {
  .PorqueGeralPC{
    display:none;
  }
  .PorqueGeralMobile{
    display:flex;
  }
}

