  .catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  
  .piscina-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;
  }
  
  .piscina-item {
    position: relative;
    cursor: pointer;
  }

  .piscina-item img {
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .piscina-item img {
      max-width: 80%;
      height: 20vh;
      padding:0;
    }

    .piscina-item {
      cursor: pointer;
      padding:0;
    }

    .piscina-grid {
      gap: 2%;
      grid-template-columns: repeat(2, 1fr);
      padding:0;
    }

    .catalogo{
      justify-content: center;
      margin-left:10%;
      padding:0;
    }

  }
  
  .overlay {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14BBC7; /* Azul transparente */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  .piscina-item:hover .overlay {
    opacity: 0.7;
  }

  
  .overlay p {
    color: white;
    font-weight: normal;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
  }

  .espaco-botao {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 20px;
    width: auto;
    height: auto;
  }

  .botao-fechar-piscina {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(58, 113, 233);
    align-items: center;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
  }

  .details-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    text-align: center;
    
  }

  .details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border: none;
    border-radius: 50px;
    width: 1500px;
    height: 500px;
    overflow-y: auto;
    z-index: 2;
  }

  .details-modal1{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(56, 89, 126, 0.4); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .details-content img {
    text-align: right;
    max-width: 100%;
    max-height: 300px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    z-index: 2;
  }