
.menu{
  background-color: #1818a7;
  padding: 10px 0;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  position: relative;
}

.listaMenu{
  text-align: center;
  list-style-type: none;
  margin: 25;
  padding: 0;
  display: flex;
}

.botaoNavegacao {
  padding: 10px 20px;
  margin-right: 10px; /* Espaçamento entre os botões */
  text-decoration: none;
  color: #2158be; /* Cor do texto */
  background-color: #333; /* Cor de fundo */
  border: none;
  border-radius: 5px;
  cursor: pointer;

  z-index: 2;
}

.botaoNavegacao:hover {
  background-color: #5021d3; /* Cor de fundo ao passar o mouse */
}

.link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}



