@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

.menu{
  background-color: none;
  padding: 1.5vmin 0;
  display: flex;
  text-align: end;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  left: auto;
  height:100px;
  top: 0; /* Coloca o navbar no topo da tela */
  z-index: 1000;
  margin-top: 12px;
  margin-right: 5vmin;
}

.listaMenu{
  text-align: end;
  justify-content:flex-end;
  list-style-type: none;
  margin-right: 3vmin;
  margin-left:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .listaMenu {
    justify-content:space-between;
    max-width: 80vmin;
  }
  .menu {
    justify-content:space-between;
    margin-left: auto;
  }
  .botaoNavegacao{
    margin-right: 1vmin;
    padding: 1vmin 1vmin;
  }
}

.botaoNavegacao {
  padding: 1vmin 3vmin;
  margin-right: 3vmin; /* Espaçamento entre os botões */
  text-decoration: none;
  color: #767272; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.botaoNavegacaoAtivo {
  padding: 1vmin 3vmin;
  margin-right: 3vmin; /* Espaçamento entre os botões */
  text-decoration: none;
  color: #14BBC7; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  z-index: 2;
}

.botaoNavegacao:hover {
  color: #f0bb48; /* Cor de fundo ao passar o mouse */
  font-size: 19px;
}

.link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}





