.container{
    width: 70%;
    max-width: 1440px;
    height:auto;
    margin: 0 auto;

}

.slider-item{
    width: 100%;
    height:auto;
    justify-content: center;
}


.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background-color: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #14BBC7;
}