.container{
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
}

.slider-item{
    width: 100%;
    height: 600px;
    justify-content: center;
}


.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background-color: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #14BBC7;
}