@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');


.menu {
  margin-top: 50px;
  text-align: center;
}

.item-menu {
  border: 5px solid #ccc;
  margin-bottom: 80px;
  margin-left: 20px;
  background-color: #ebf3f4;
  max-width: 300px;
  max-height: auto;
}

.nome-item {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  margin-right: 5px;
}

.preco-item{
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  padding-bottom: 0px;
}

.lista-menu {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
}

.image{
  margin-top: auto;
  margin-right:auto;
  max-width: 300px;
  height: fit-content;
}

@media only screen and (max-width: 768px) {
  .item-menu{
    max-width: 100px;
  }
  .image {
    max-width: 100px;
  }
}