@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');


.menu {
  margin-top: 200px;
  text-align: center;
}

.item-menu {
  border: 1px solid #ccc;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #ebf3f4;
}

.nome-item {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}

.preco-item{
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  padding-bottom: 0px;
}

.lista-menu {
  max-width: 400px;
  margin: 0 auto;
}

.image{
  margin-top: auto;
  margin-right:auto;
  width: fit-content;
  height: fit-content;
}